<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moviefreak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moviefreak.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MovieFreak</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MovieFreak</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnectionEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DefaultConnection;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=DefaultConnection;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:qbl9gl7mta.database.windows.net,1433;Initial Catalog=MovieFrAl0ITMlsa;User ID=Fiszerek@qbl9gl7mta;Password=Fiszer89$" Name="Data Source=tcp:qbl9gl7mta.database.windows.net,1433;Initial Catalog=MovieFrAl0ITMlsa;User Id=Fiszerek@qbl9gl7mta;Password=Fiszer89$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MovieFreak.DAL.MovieContext, MovieFreak" MigrationConfiguration="MovieFreak.Migrations.Configuration, MovieFreak" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qbl9gl7mta.database.windows.net,1433;Initial Catalog=MovieFrAl0ITMlsa;User Id=Fiszerek@qbl9gl7mta;Password=Fiszer89$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>