@{
    ViewBag.Title = "Projekt MovieFreak";
}
<h2>@ViewBag.Title.</h2>

<div style=" padding-bottom:50px; padding-top:50px; font-size:large" class="row">
    <p>
        Serwis internetowy MovieFreak jest praktyczną częścią pracy magisterskiej. Jest to witryna internetowa, która implementuje zaawansowane systemy rekomendacji w postaci algorytmów Apriori oraz AprioriTID. Są to algorytmy wykorzystujące metodę asocjacji do wybudowania grupy reguł, na podstawie których zostanie przeprowadzony proces rekomendacji. Całość jest wspierana przez bazę danych filmów oraz użytkowników, którzy założyli własne konto. MovieFreak jest aplikacją internetową działającą na serwerze i nawiązującą łączność z komputerem użytkownika za pośrednictwem sieci komputerowej, wykorzystując dowolną przeglądarkę internetową.
        <br>
        <br>
        Głównym założeniem serwisu jest wspomaganie procesu decyzyjnego użytkownika w wyborze filmu, który może mu przypaść do gustu.  Baza filmów, którą ma do dyspozycji użytkownik składa się z najpopularniejszych filmów ze średnią oceną przekraczającą wcześniej założony próg. Witryna daje użytkownikowi do dyspozycji określoną liczbę pozycji filmowych, którą użytkownik aplikacji może według swoich upodobań dobrowolnie ocenić. Jeżeli wcześniej otrzymana lista filmów nie przypadnie użytkownikowi do gustu, ma możliwość otrzymana nowej listy filmów. Oceniając filmy użytkownik otrzyma spersonalizowaną listę filmów, które powinny mu przypaść do gustu, jeżeli algorytmy znajdą odpowiednie propozycje. Polecane filmy będą znajdować się specjalnej zakładce, do której użytkownik będzie miał zawsze dostęp po zalogowaniu się. Im więcej filmów zostanie poddanych ocenie przez użytkownika, tym więcej propozycji godnych uwagi otrzyma w zakładce „polecanych” filmów.
        <br>
        <br>
        Witryna ma pomagać użytkownikowi przy wyborze filmu. Wybieranie filmu do obejrzenia często może pochłaniać sporo czasu, mimo tego ostatecznie i tak nie mamy pewności czy się nam spodoba. Idąc do kina czy kupując film inwestujemy czas i pieniądze. Serwis ma pomagać w rozwiązaniu tych problemów. Każdy użytkownik witryny otrzymuje specjalnie spersonalizowaną listę filmów, które powinny mu się spodobać, dzięki czemu będzie mógł zaoszczędzić czas oraz pieniądze.
    </p>
</div>
